.header {
  display: flex;
  background-color: darkslategrey;
  color: ivory;
  height: 200px;
}
.title {
  display: flex;
  margin: auto;
}
.container {
  display: flex;
  justify-content: space-evenly;
  flex: 12;
}
.card {
  display: flex;
  flex: 4;
  margin: 30px;
  text-align: center;
}
.data {
  padding: 20px;
  margin:auto;
  list-style-type: none;
}
.card-header {
  text-align: center;
  background-color: slategrey;
  color: ivory;
}